services:
  agagotuje-frontend:
    build:
      args:
        ARCH__DOCKER_IMAGE__TAG__BUILD_NUMBER: "20251019.0.436919"
        ARCH__MIRROR__DATE: "2025/10/19"
      context: "."
      dockerfile: "Dockerfile"
    volumes:
      - consistency: "consistent"
        read_only: false
        source: ".."
        target: "/home/developer/agagotuje-frontend"
        type: "bind"
